*.egg-info
*.log
*.py[cod]
*.sublime-workspace
.*.cfg
.DS_Store
.idea/
.RData
.Rhistory
.venv
__pycache__
_build
bin
build
dist
nginx.conf
output.zip
python3
received_data
self.cert
self.key
typescript
var
venv
