# python 3.9.0
# ray[serve]==1.10.0
# fastapi==0.74.1

# # alphan
# scikit-image==0.19.2
# tensorflow==2.8.0

# python 3.7.8
fastapi
ray[serve]
scikit-image==0.18.1
tensorflow==1.14.0
keras==2.3.1
h5py=2.8.0